In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split


### Warmup: 10-19-22
 Use the world database for the question below.
 What languages are spoken in Santa Monica?


USE world;

SELECT * 

From city

left JOIN countrylanguage using(CountryCode)

where city.Name = 'Santa Monica';


### Warmup:      10-20-22
A ball is dropped and bounces. At each rebound, the ball reaches half the height of the previous rebound.



How high must the ball be dropped so it reaches exactly the height h after the sixth rebound?

Write a .py script that accepts an integer from the user that represents the height of the ball after the sixth rebound.
Your .py script should print out the height that the ball must be drop at to reach the given height at the sixth rebound.

In [ ]:
def height_ball(height):
    
    bounce=[1,2,3,4,5,6,]
    for i in bounce:
        height = height*(0.5)
        print(height)
    return height

In [ ]:
height_ball(100)

In [ ]:
height =100
i=0
while h < height:    
    h=1.5625
    h = h *2
    i=i+1
print i

### Warm up:    10-24-22
Using the tips dataset. Find me the max total bill of the table who dined on Sunday and tipped at least 2$

In [ ]:
df = sns.load_dataset('tips')

In [ ]:
df.head()

In [ ]:
sunday = df[df.day =='Sun']

In [ ]:
tips2_sun = sunday[sunday.tip>=2]

In [ ]:
tips2_sun

In [ ]:
tips2_sun.describe()

Max total bill is $48.17 for a dinner who dinned on Sunday and tipped more tham 2 dollars.

# Warm up: 10/25/22

In [2]:
# acquire tips data
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
# check for nulls in columns
df.isnull().sum()

total_bill     0
tip            0
size           0
sex_Male       0
sex_Female     0
smoker_Yes     0
smoker_No      0
day_Thur       0
day_Fri        0
day_Sat        0
day_Sun        0
time_Lunch     0
time_Dinner    0
dtype: int64

In [5]:
# make sure they are the right type of variable
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [6]:
# encode categorical data
dummy_df = pd.get_dummies(df[['sex','smoker','day','time']], dummy_na=False)
dummy_df.head()

,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,0,1,0,1,0,0,0,1,0,1
1,1,0,0,1,0,0,0,1,0,1
2,1,0,0,1,0,0,0,1,0,1
3,1,0,0,1,0,0,0,1,0,1
4,0,1,0,1,0,0,0,1,0,1

In [7]:
# combine encoding to original dataframe
df = pd.concat([df, dummy_df], axis=1)
df.head(10)

,total_bill,tip,sex,smoker,day,time,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,Female,No,Sun,Dinner,2,0,1,0,1,0,0,0,1,0,1
1,10.34,1.66,Male,No,Sun,Dinner,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3.50,Male,No,Sun,Dinner,3,1,0,0,1,0,0,0,1,0,1
3,23.68,3.31,Male,No,Sun,Dinner,2,1,0,0,1,0,0,0,1,0,1
4,24.59,3.61,Female,No,Sun,Dinner,4,0,1,0,1,0,0,0,1,0,1
5,25.29,4.71,Male,No,Sun,Dinner,4,1,0,0,1,0,0,0,1,0,1
6,8.77,2.00,Male,No,Sun,Dinner,2,1,0,0,1,0,0,0,1,0,1
7,26.88,3.12,Male,No,Sun,Dinner,4,1,0,0,1,0,0,0,1,0,1
8,15.04,1.96,Male,No,Sun,Dinner,2,1,0,0,1,0,0,0,1,0,1
9,14.78,3.23,Male,No,Sun,Dinner,2,1,0,0,1,0,0,0,1,0,1

In [8]:
# drop columns that were encoded
cols_to_drop = ['sex','smoker','day','time']
df = df.drop(columns=cols_to_drop)

In [9]:
df.head()

,total_bill,tip,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,2,0,1,0,1,0,0,0,1,0,1
1,10.34,1.66,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3.50,3,1,0,0,1,0,0,0,1,0,1
3,23.68,3.31,2,1,0,0,1,0,0,0,1,0,1
4,24.59,3.61,4,0,1,0,1,0,0,0,1,0,1

In [10]:
from sklearn.model_selection import train_test_split

def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [13]:
# split into train, validate, test
train, validate, test = train_validate_test_split(df, target='smoker_Yes', seed=123)

# create X & y version of train, where y is a series with just the target variable and X are all the features. 

x_train = train.drop(columns=['smoker_Yes'])
y_train = train.smoker_Yes

x_validate = validate.drop(columns=['smoker_Yes'])
y_validate = validate.smoker_Yes

x_test = test.drop(columns=['smoker_Yes'])
y_test = test.smoker_Yes

In [12]:
# check the shape
train.shape, validate.shape, test.shape

((136, 13), (59, 13), (49, 13))

In [15]:
x_train.shape, y_train.shape

((136, 12), (136,))

# Warm-up 11-09-22
Write a function that takes in a number and returns wether the number is greater than 5, less than 5 or is 5.

In [4]:
num=4
if num < 5:
    print (f'Your number {num} is less than 5.')
if num >5:
    print (f'Your number {num} is greater than 5.')
if num == 5:
    print (f'Your number {num} is 5.')

Your number 4 is less than 5.

In [17]:
def number_vs_five():
    num = float(input('Give me a number '))
    if num < 5:
        num2 = abs(5-num)
        print (f'Your number {num} is less than 5 by {num2} units.')
    if num >5:
        num2 = abs(num -5)
        print (f'Your number {num} is greater than 5 by {num2} units.')
    if num == 5:
        print (f'Your number {num} is 5 !!!')

In [18]:
number_vs_five()

Give me a number -.3
Your number -0.3 is less than 5 by 5.3 units.

# Warm-up 11-30-22

Write me a function that accepts a string that returns whether or not it is a palindrome.

In [43]:
def palindrome (string):
    string = string.lower().replace(' ', '')
    if string == ''.join(reversed(string)):
        return True
    else:
        return False

In [44]:
palindrome('Racecar')

True

In [46]:
palindrome('look')

False

In [48]:
def palindrome2(string):
    string = string.lower().replace(' ', '')
    return string == string [::-1]

In [50]:
palindrome2('you')

False

In [51]:
palindrome2('tat')

True